.label-section {
    font-size: 2.5em;
    text-align: center;
    font-family: 'roboto';
    position: relative;
}

div.separator{
    width: 150px;
    height: 4px;
    background-color: var(--color-primary);
    display: block;
    margin: auto;

    margin-top: -10px;
}