@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: var(--dark-primary-color)!important;
    color: var(--white-primary)!important;
}

*{
    font-family: "Roboto", sans-serif;
}

.roboto-thin {
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-weight: 900;
    font-style: italic;
}


:root {
    --dark-primary-color: #242D2B;
    --dark-secondary-color: #323B3A;
    --white-primary: #FFF;
    --color-primary: #F7A600;
}

.content-body {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
  /* ============= Animation background ========= */
.background {
    background: linear-gradient(132deg, #0a0a0a, #141412, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding:0;
    margin:0px;
}
.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #fff;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
    border-color: #df8817;
}
.cube:nth-child(2) {
    left: 25vw;
    top: 40vh;
}
.cube:nth-child(3) {
    left: 75vw;
    top: 50vh;
}
.cube:nth-child(4) {
    left: 90vw;
    top: 10vh;
}
.cube:nth-child(5) {
    left: 10vw;
    top: 85vh;
}
.cube:nth-child(6) {
    left: 50vw;
    top: 10vh;
}
/* Animate Background*/
@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
@keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
}
